openapi: "3.0.0"
info:
  version: "1"
  title: ""
  description: ""
paths:
  /api/v1/user/register:
    post:
      operationId: "registerUser"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userNew"
      responses:
        204:
          description: "Success - no content"
          content:
            application/json:
              schema:
                type: "string"
  /api/v1/user/self:
    delete:
      operationId: "deleteAccount"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
      responses:
        204:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
    get:
      operationId: "getUserSelf"
      description: ""
      parameters: []
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userInfo"
      security:
        - BearerAuth: []
    put:
      operationId: "updateUserInfo"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userInfoUpdate"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/user/changepassword:
    put:
      operationId: "changePassword"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userPassswordChange"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/user/login:
    post:
      operationId: "userLogin"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authLoginData"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authTokenResponse"
  /api/v1/user/logout:
    post:
      operationId: "userLogout"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
      responses:
        204:
          description: "no content"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/user/refresh:
    get:
      operationId: "refreshToken"
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authTokenResponse"
      security:
        - BearerAuth: []
  /api/v1/user/preferences:
    get:
      operationId: "getPreferences"
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userPreferences"
      security:
        - BearerAuth: []
    put:
      operationId: "updatePreferences"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userPreferences"
      responses:
        204:
          description: ""
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/restauraunt/recommend:
    post:
      operationId: "recommendRestaurauntUser"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/location"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restauraunt"
      security:
        - BearerAuth: []
  /api/v1/restauruant/recommend-guest:
    post:
      operationId: "recommendRestaurauntGuest"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/location"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restauraunt"
  /api/v1/rank/choice:
    get:
      operationId: "getChoices"
      description: ""
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restaurauntChoiceOffer"
    post:
      operationId: "makeChoice"
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/restaurauntChoiceResponse"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    userInfo:
      properties:
        email:
          nullable: false
          type: "string"
        id:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
    userNew:
      properties:
        email:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
        password:
          nullable: false
          type: "string"
        token:
          nullable: true
          type: "string"
    userPassswordChange:
      properties:
        current:
          nullable: false
          type: "string"
        new:
          nullable: false
          type: "string"
    userInfoUpdate:
      properties:
        email:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
    authLoginData:
      properties:
        username:
          nullable: false
          type: "string"
        password:
          nullable: false
          type: "string"
    authTokenResponse:
      properties:
        token:
          nullable: false
          type: "string"
        expiresAt:
          nullable: false
          type: "string"
    userPreferences:
      properties:
        glutenFree:
          nullable: false
          type: "boolean"
        vegetarian:
          nullable: false
          type: "boolean"
        vegan:
          nullable: false
          type: "boolean"
    restauraunt:
      properties:
        name:
          nullable: false
          type: "string"
        image:
          nullable: true
          type: "string"
        location:
          nullable: false
          $ref: "#/components/schemas/location"
    restaurauntChoiceOffer:
      properties:
        restauruantA:
          nullable: false
          $ref: "#/components/schemas/restauraunt"
        restaurauntB:
          nullable: false
          $ref: "#/components/schemas/restauraunt"
        restaurauntC:
          nullable: true
          $ref: "#/components/schemas/restauraunt"
        offeringID:
          nullable: false
          type: "string"
    restaurauntChoiceResponse:
      properties:
        choiceA:
          nullable: false
          type: "boolean"
        choiceB:
          nullable: false
          type: "boolean"
        choiceC:
          nullable: false
          type: "boolean"
        offeringID:
          nullable: false
          type: "string"
    location:
      properties:
        latitude:
          nullable: false
          type: "number"
        longitude:
          nullable: false
          type: "number"
