openapi: "3.0.0"
info:
  version: "1.0.0"
  title: "Flavour Finder API Docs"
  description: "Documentation about API for backend of the service in the openAPI 3.0.0 format"

# used Tags:
# user, rank, recommend, auth 

paths:
  /api/v1/user/register:
    post:
      operationId: "registerUser"
      summary: "Register User"
      description: "Register a new user into the system with provided credentials"
      tags: 
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userNew"
      responses:
        204:
          description: "success - no content"

  /api/v1/user/self:
    delete:
      operationId: "deleteAccount"
      summary: "Delete Account"
      description: "Delete the account of the user that calls this"
      tags: 
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
      responses:
        204:
          description: "success - no content"

      security:
        - BearerAuth: []
    get:
      operationId: "getUserSelf"
      summary: "Get Current User"
      description: "Get the current user that calls this"
      tags: 
        - user
      parameters: []
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userInfo"
      security:
        - BearerAuth: []
    put:
      operationId: "updateUserInfo"
      summary: "Update User Info"
      description: "Update the name and/or email of the "
      tags: 
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userInfoUpdate"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/user/changepassword:
    put:
      operationId: "changePassword"
      summary: "Change Password"
      description: "Change the current user's password"
      tags: 
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userPasswordChange"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
      security:
        - BearerAuth: []
  /api/v1/user/login:
    post:
      operationId: "userLogin"
      summary: "Login"
      description: "Attempt login with the provided username and password."
      tags: 
        - user  
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authLoginData"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authTokenResponse"
  /api/v1/user/logout:
    post:
      operationId: "userLogout"
      summary: "Logout"
      description: "Logout the current user and invaliades token."
      tags: 
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: "string"
      responses:
        204:
          description: "no content"
      security:
        - BearerAuth: []
  /api/v1/user/refresh:
    get:
      operationId: "refreshToken"
      summary: "Refresh Token"
      description: "Returns a new valid token and invalidates the current one"
      tags:
        - auth
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/authTokenResponse"
      security:
        - BearerAuth: []
  /api/v1/user/preferences:
    get:
      operationId: "getPreferences"
      summary: "Get Preference"
      description: "Get the preferences of the current user"
      tags:
        - user
      parameters: []
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/userPreferences"
      security:
        - BearerAuth: []
    put:
      operationId: "updatePreferences"
      summary: "Update Preference"
      description: "Update the preference of the current user"
      tags:
        - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/userPreferences"
      responses:
        204:
          description: "success - no content"
      security:
        - BearerAuth: []
  /api/v1/restauraunt/recommend:
    post:
      operationId: "recommendRestaurauntUser"
      summary: "Recommend Restauraunt (User)"
      description: "Recommends a restauraunt for a currently logged in user"
      tags:
        - recommend
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/restaurauntRequest"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restauraunt"
      security:
        - BearerAuth: []
  /api/v1/restauraunt/recommend-guest:
    post:
      operationId: "recommendRestaurauntGuest"
      summary: "Recommend Restauraunt (Guest)"
      description: "Recommends a restauraunt for user not logged in"
      tags:
        - recommend
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/restaurauntRequestGuest"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restauraunt"
  /api/v1/rank/choice:
    get:
      operationId: "getChoices"
      summary: "Fetch Choices"
      description: "Gets the choices from the server for the user to choose from"
      tags: 
        - rank
      parameters:
        - in: query
          name: latitude
          schema:
            type: number
          description: "Latitude of the user's location"
        - in: query
          name: longitude
          schema:
            type: number
          description: "Longitude of the user's location"
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/restaurauntChoiceOffer"
    post:
      operationId: "makeChoice"
      summary: "Send Choice"
      description: "Sends the result of the choice by the user"
      tags:
        - rank
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/restaurauntChoiceResponse"
      responses:
        200:
          description: "success"
          content:
            application/json:
              schema:
                type: "string"
components:
  securitySchemes:
    BearerAuth:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
  schemas:
    userInfo:
      properties:
        email:
          nullable: false
          type: "string"
        id:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
    userNew:
      properties:
        email:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
        password:
          nullable: false
          type: "string"
        token:
          nullable: true
          type: "string"
    userPasswordChange:
      properties:
        current:
          nullable: false
          type: "string"
        new:
          nullable: false
          type: "string"
    userInfoUpdate:
      properties:
        email:
          nullable: false
          type: "string"
        name:
          nullable: false
          type: "string"
    authLoginData:
      properties:
        username:
          nullable: false
          type: "string"
        password:
          nullable: false
          type: "string"
    authTokenResponse:
      properties:
        token:
          nullable: false
          type: "string"
        expiresAt:
          nullable: false
          type: "string"
    userPreferences:
      properties:
        #location:
        #  nullable: false
        #  $ref: "#/components/schemas/location"
        #range:
        #  nullable: false
        #  type: "number"
        glutenFree:
          nullable: false
          type: "boolean"
        vegetarian:
          nullable: false
          type: "boolean"
        vegan:
          nullable: false
          type: "boolean"
    restauraunt:
      properties:
        name:
          nullable: false
          type: "string"
        image:
          nullable: true
          type: "string"
        location:
          nullable: false
          $ref: "#/components/schemas/location"
    restaurauntChoiceOffer:
      properties:
        restaurauntA:
          nullable: false
          $ref: "#/components/schemas/restauraunt"
        restaurauntB:
          nullable: false
          $ref: "#/components/schemas/restauraunt"
        restaurauntC:
          nullable: true
          $ref: "#/components/schemas/restauraunt"
        offeringID:
          nullable: false
          type: "string"
    restaurauntChoiceResponse:
      properties:
        choiceA:
          nullable: false
          type: "number"
        choiceB:
          nullable: false
          type: "number"
        choiceC:
          nullable: false
          type: "number"
        offeringID:
          nullable: false
          type: "string"
    location:
      properties:
        latitude:
          nullable: false
          type: "number"
        longitude:
          nullable: false
          type: "number"
    restaurauntRequest:
      properties:
        currentLocation:
          nullable: false
          $ref: "#/components/schemas/location"
        radius:
          nullable: false
          type: "number"
    restaurauntRequestGuest:
      properties:
        currentLocation:
          nullable: false
          $ref: "#/components/schemas/location"
        radius:
          nullable: false
          type: "number"
        preferences:
          nullable: false
          $ref: "#/components/schemas/userPreferences"
