@import "tailwindcss";


.map-content {
  margin-left: 240px; 
  
  height: 100vh;
  
  width: auto; 
  
  margin: 0;
  padding: 0;
}

/* Mobile Responsiveness */
@media (max-width: 500px) {
  .map-content {
    margin-left: 0;
    
    padding-bottom: 70px; 
    
    height: 100vh;
  }
}
