@import "tailwindcss";
/*

.map-content {
  margin-left: 240px; 
  
  height: 100vh;
  
  width: auto; 
  
  margin: 0;
  padding: 0;
}


@media (max-width: 500px) {
  .map-content {
    margin-left: 0;
    
    padding-bottom: 70px; 
    
    height: 100vh;
  }
}
*/
.map-content {
  position: absolute;
  top: 0;
  left: 200px; /* width of your sidebar */
  right: 0;
  bottom: 0;
  height: 100vh;
}

.content-container {
  margin-left: 200px;
  padding: 20px;
}
