@import "tailwindcss";
/*

.map-content {
  margin-left: 240px; 
  
  height: 100vh;
  
  width: auto; 
  
  margin: 0;
  padding: 0;
}


@media (max-width: 500px) {
  .map-content {
    margin-left: 0;
    
    padding-bottom: 70px; 
    
    height: 100vh;
  }
}
*/
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-content {
  width: 100%;
  height: 100%;
}

.content-container {
  padding: 30px;
}
