.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #ffffff;
  color: #111;
  padding: 28px 22px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e6e6e6;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.05);
  transition: width 0.3s ease;

  z-index: 1000;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  font-size: 17px;
  border-radius: 10px;
  text-decoration: none;
  color: #111;
  transition: 0.25s ease;
}

.nav-links li a:hover {
  background: #f4f4f4;
  transform: translateX(6px);
  cursor: pointer;
}

.nav-links li a svg {
  width: 20px;
  height: 20px;
}

.nav-links li a.active {
  background: #111;
  color: white;
}
 
@media (max-width: 500px) {

  .sidebar {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 15px;
    background: #ffffff;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 -2px 12px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  .logo {
    display: none;
  }

  .nav-links {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .nav-links li a {
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    padding: 6px;
    transform: none !important;
  }

  .nav-links li a svg {
    width: 22px;
    height: 22px;
  }
  
}
